html {
    background-color: rgb(241, 144, 64);
}

body {
    width: 1000px;
    margin: 0 auto;
    background-color: black;
    padding: 0 20px 20px 20px;
}

h1 {
    color: rgb(245, 47, 182);
    font-size: 80px;
    text-align: center;
    font-family: fantasy;
    //text-shadow: 3px 3px 1px white;
}

p {
    color: rgb(244, 91, 196);
    font-size: 30px;
    text-align: center;
    font-family: fantasy;
    //text-shadow: 1px 1px 0.3px white;
}

img {
    width: 1000px;
    display: block;
    margin: 25 auto;
}